:root {
  --main-black-color: #2a2a2a;
  --main-red-color: #fedcda;
  --main-yellow-color: #fdd100;
  --main-redder-color: #370e0c;
  --main-bright-color: #fbfbfb;
  --main-white-color: #ffffff;
  --main-dark-color: #6f6f6f;
}

body {
  background: var(--main-white-color);
  font-family: Helvetica, Arial, sans-serif;
}

.signup__parent__header > a {
  color: var(--main-dark-color);
  text-decoration: none;
  margin-right: 1em;
}

.index__parent {
  max-width: 420px;
  margin: 10rem auto 0 auto;
}

.index__parent > h1 {
  font-weight: 600;
  color: var(--main-black-color);
}

.index__parent > h2 {
  font-weight: 500;
  color: var(--main-black-color);
}

.index__parent > h3 {
  font-weight: 500;
  color: var(--main-dark-color);
}

.index__parent__action {
  margin: 3em 0;
}

.index__parent__action > a {
  color: var(--main-bright-color);
  background-color: var(--main-black-color);
  padding: 12px 22px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-right: 10px;
}

.index__parent img {
  max-width: 100px;
  height: auto;
}

.signup__parent {
  max-width: 420px;
  margin: 10rem auto 0 auto;
}

.signup__parent > h1 {
  font-weight: 600;
  color: var(--main-black-color);
}

.signup__parent > h2 {
  font-weight: 500;
  color: var(--main-dark-color);
}

.signup_parent__action__form {
  margin: 1.5em 0;
}

.signup_parent__action__form > label,
input {
  display: block;
}

.signup_parent__action__form > label {
  color: var(--main-dark-color);
  margin: 0.5em 0;
  font-weight: 600;
}

.signup_parent__action__form > input[type="text"] {
  border-radius: 5px;
  color: var(--main-dark-color);
  height: 3em;
  width: 100%;
  border: 1.5px solid #d4d4d4;
  margin-bottom: 2em;
  padding-left: 1em;
}

.signup_parent__action__form > input[type="submit"] {
  color: var(--main-bright-color);
  background-color: var(--main-black-color);
  padding: 12px 35px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.login__parent__header > a {
  color: var(--main-dark-color);
  text-decoration: none;
  margin-right: 1em;
}

.login__parent {
  max-width: 420px;
  margin: 10rem auto 0 auto;
}

.login__parent > h1 {
  font-weight: 600;
  color: var(--main-black-color);
}

.login__parent > h2 {
  font-weight: 500;
  color: var(--main-bright-color);
}

.login_parent__action__form {
  margin: 2em 0;
}

.login_parent__action__form > label,
input {
  display: block;
}

.login_parent__action__form > label {
  color: var(--main-dark-color);
  margin: 0.5em 0;
  font-weight: 600;
}

.login_parent__action__form > input[type="text"] {
  border-radius: 5px;
  color: var(--main-dark-color);
  height: 3em;
  width: 100%;
  border: 1.5px solid #d4d4d4;
  margin-bottom: 2em;
  padding-left: 1em;
}

.login_parent__action__form > input[type="submit"] {
  color: var(--main-bright-color);
  background-color: var(--main-black-color);
  padding: 12px 35px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.login__parent__action__error {
  background-color: var(--main-red-color);
  color: var(--main-redder-color);
  padding: 1em;
  border-radius: 5px;
}

.dashboard__parent {
  max-width: 420px;
  margin: 10rem auto 10rem auto;
}

.dashboard__parent > h1 {
  font-weight: 600;
  color: var(--main-black-color);
}

.dashboard__parent__header > a {
  color: var(--main-dark-color);
  text-decoration: none;
  margin-right: 1em;
}

.dashboard__parent__action__empty {
  margin: 2em;
  font-weight: 600;
  color: var(--main-dark-color);
  opacity: 0.6;
}

.dashboard__parent__journal > form {
  position: relative;
}

.dashboard__parent__journal > .dashboard__parent__action__error {
  color: var(--main-bright-color);
  padding: 1em;
  border-radius: 5px;
}

.dashboard__parent__action__form {
  margin-top: 1em;
  position: relative;
}

.dashboard__parent__action__form > textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  min-height: 108px;
  width: 100%;
  border: 1.5px solid #f3f4f4;
  resize: vertical;
  width: 100%;
  min-height: 200px;
  margin-bottom: 2em;
  border-radius: 5px;
  outline: none;
  /* background-color: #f3f4f4; */
  padding: 1em;
  font-weight: 600;
}

.dashboard__parent__action__form > input {
  color: var(--main-bright-color);
  background-color: var(--main-black-color);
  padding: 12px 35px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.dashboard__parent__action__content {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background: var(--main-bright-color);
  color: var(--main-black-color);
  width: 100%;
  height: 40px;
  min-height: 200px;
  border: 1px solid transparent;
  resize: vertical;
  margin-bottom: 2em;
  border-radius: 5px;
  outline: none;
  padding: 1em;
  font-weight: 600;
}

.dashboard__parent__journal__card__action {
  display: flex;
  column-gap: 0.5em;
  margin: 1em 0;
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.dashboard__parent__journal__card__action__delete {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--main-black-color);
  background-color: var(--main-bright-color);
  height: 25px;
  width: 25px;
  padding: 6px;
  text-decoration: none;
  border: 1.5px solid #000000;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__parent__journal__card__action__update {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--main-black-color);
  background-color: var(--main-bright-color);
  padding: 6px 12px;
  text-decoration: none;
  border: 1.5px solid #000000;
  cursor: pointer;
  border-radius: 25px;
}

.register__parent__action__error {
  background-color: var(--main-red-color);
  color: var(--main-redder-color);
  padding: 1em;
  border-radius: 5px;
}